<div class="container-login">
  <h2>日々の変動</h2>
  <p>ここにグラフを挿入</p>
  <p>id/日にち/上/下/心拍/血糖/コメント</p>

  <%= line_chart @conditions.map { |condition|
    {name: "グラフ名", data: condition}
  },min:0,max:400,xmin:0,xmax:3,xtitle:"日付",ytitle:"値" %>

  <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.id %></td>
        <td><%#= condition.updated_at %></td>
        <td><%= condition.systolic_blood_pressure%></td>
        <td><%= condition.diastolic_blood_pressure %></td>
        <td><%= condition.pulse %></td>
        <td><%= condition.blood_sugar %></td>
        <td><%#= condition.attached_comment %></td></br>
      </tr>
    <% end %>
  </tbody>

  <hr class="devise-link my-5">
  <div class="form-group">
    <%= link_to "入力へ移動", conditions_edit_path, class: 'btn btn-success btn-block mb-4' %>
    <%= link_to t('activerecord.attributes.pharmacy.top_page'), root_path, class: 'btn btn-info btn-block mb-4' %>
  </div>
</div>