<div class="container-login">
  <h1>アカウント編集</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= bootstrap_devise_error_messages! %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :postcode %>
      <%= f.text_field :postcode, autofocus: true, autocomplete: 'postcode', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :prefecture_code %>
      <%= f.text_field :prefecture_code, autofocus: true, autocomplete: 'prefecture_code', class: 'form-control' %>
    </div>    

    <div class="form-group">
      <%= f.label :address_city %>
      <%= f.text_field :address_city, autofocus: true, autocomplete: 'address_city', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :address_street %>
      <%= f.text_field :address_street, autofocus: true, autocomplete: 'address_street', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :address_building %>
      <%= f.text_field :address_building, autofocus: true, autocomplete: 'address_building', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :telephone_number %>
      <%= f.text_field :telephone_number, autofocus: true, autocomplete: 'telephone_number', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :age %>
      <%= f.text_field :age, autofocus: true, autocomplete: 'age', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :sex %></br>
      <%= f.select :sex, User.sexes_i18n.invert, { include_blank: false, selected: 0 }, {autofocus: true, autocomplete: 'sex', class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :body_weight %>
      <%= f.text_field :body_weight, autofocus: true, autocomplete: 'body_weight', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :blood_types %>
      <%= f.select :blood_types, User.blood_types_i18n.invert, { include_blank: false, selected: 0 }, {autofocus: true, autocomplete: 'blood_types', class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :side_effect %>
      <%= f.text_area :side_effect, autofocus: true, autocomplete: 'side_effect', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :allergy %>
      <%= f.text_area :allergy, autofocus: true, autocomplete: 'allergy', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :sick %>
      <%= f.text_area :sick, autofocus: true, autocomplete: 'sick', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :operation %>
      <%= f.text_area :operation, autofocus: true, autocomplete: 'operation', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :remarks %>
      <%= f.text_area :remarks, autofocus: true, autocomplete: 'remarks', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :opinion %>
      <%= f.text_area :opinion, autofocus: true, autocomplete: 'opinion', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

      <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

      <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
    </div>

    <div class="form-group">
      <%= f.submit t('.update'), class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>

  <hr class="devise-link my-5">
  <div class="form-group">
    <%= link_to "トップページ", root_path, class: 'btn btn-info btn-block mb-4' %>
    <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: t('.are_you_sure')}, method: :delete, class: 'btn btn-danger btn-block' %>
  </div>
</div>