<%= f.fields_for :activities, @pharmacy_activities do |form| %>
  <% 7.time do %>
    <div class="form-group">
      <%= form.label :week_day %>
      <%= form.check_box :business, autofocus: true, autocomplete: 'business', class: 'form-control' %>

      <%= form.label :open %>
      <%= form.time_field :open, autofocus: true, autocomplete: 'open', class: 'form-control' %>

      <%= form.label :close %>
      <%= form.time_field :close, autofocus: true, autocomplete: 'close', class: 'form-control' %>
    </div>
  <% end %>
<% end %>