<div class="container-login">
  <%= render 'shared/flash_messages' %>

  <div class="form-gruop">
    <strong><%= t('pharmacy.registrations.show.name') %></strong> 
    <%= current_pharmacy.name %>
  </div>

  <div class="form-gruop">
    <strong><%= t('user.registrations.show.postcode') %></strong>
    <%= current_pharmacy.postcode%>
  </div>

  <div class="form-gruop">
    <strong><%= t('user.registrations.show.prefecture_code') %></strong>
    <%= current_pharmacy.prefecture_code %>
  </div>

  <div class="form-gruop">
    <strong><%= t('user.registrations.show.address_city') %></strong>
    <%= current_pharmacy.address_city %>
  </div>

  <div class="form-gruop">
    <strong><%= t('user.registrations.show.address_street') %></strong>
    <%= current_pharmacy.address_street %>
  </div>

  <div class="form-gruop">
    <strong><%= t('pharmacy.registrations.show.address_building') %></strong>
    <%= current_pharmacy.address_building %>
  </div>

  <div class="form-gruop">
    <strong><%= t('pharmacy.registrations.show.normal_telephone_number') %></strong>
    <%= current_pharmacy.normal_telephone_number %>
  </div>

  <div class="form-gruop">
    <strong><%= t('pharmacy.registrations.show.abnormal_telephone_number') %></strong>
    <%= current_pharmacy.abnormal_telephone_number %>
  </div>
  <div class="form-gruop">
    <strong><%= t('user.registrations.show.remarks') %></strong>
    <%= current_pharmacy.remarks %>
  </div>

  <div class="form-gruop">
    <strong><%= t('user.registrations.show.opinion') %></strong>
    <%= current_pharmacy.opinion %>
  </div>

  <hr class="devise-link my-5">
  <div class="form-group">
    <%= link_to t('pharmacy.registrations.show.update'), edit_pharmacy_registration_path, class: 'btn btn-success btn-block mb-4' %>
    <%= link_to t('pharmacy.registrations.show.destroy'), "/pharmacies", method: :delete, data: { confirm: t('pharmacy.registrations.show.are_you_sure')}, class: 'btn btn-danger btn-block mb-4' %>
    <%= link_to t('pharmacy.registrations.show.sign_out'), destroy_pharmacy_session_path, method: :delete, class: 'btn btn-warning btn-block mb-4' %>
  </div>
</div>