<div class="container-login">
  <%= render 'shared/flash_messages' %>

  <div class="form-gruop">
    <% if current_user.name.present? %>
      <h1><%= "#{current_user.name}さんがログインしています" %></h1>
    <% else %>
      <h1><%= "#{current_user.email}さんがログインしています" %></h1>
    <% end %>
  <div class="form-gruop">

  <div class="form-gruop">
    <strong>ユーザー名:</strong>
    <%= @user.name %>
  </div>

  <div class="form-gruop">
    <strong>郵便番号:</strong>
    <%= @user.postcode%>
  </div>

  <div class="form-gruop">
    <strong>都道府県:</strong>
    <%= @user.prefecture_code %>
  </div>

  <div class="form-gruop">
    <strong>市町村:</strong>
    <%= @user.address_city %>
  </div>

  <div class="form-gruop">
    <strong>丁目番地:</strong>
    <%= @user.address_street %>
  </div>

  <div class="form-gruop">
    <strong>建物名・部屋番号など:</strong>
    <%= @user.address_building %>
  </div>

  <div class="form-gruop">
    <strong>電話番号:</strong>
    <%= @user.telephone_number %>
  </div>

  <div class="form-gruop">
    <strong>年齢:</strong>
    <%= @user.age %>
  </div>

  <div class="form-gruop">
    <strong>性別:</strong>
    <%= @user.sex %>
  </div>

  <div class="form-gruop">
    <strong>体重:</strong>
    <%= @user.body_weight %>
  </div>

  <div class="form-gruop">
    <strong>副作用歴:</strong>
    <%= @user.side_effect %>
  </div>

  <div class="form-gruop">
    <strong>アレルギー歴:</strong>
    <%= @user.allergy %>
  </div>

  <div class="form-gruop">
    <strong>病歴:</strong>
    <%= @user.sick %>
  </div>

  <div class="form-gruop">
    <strong>手術歴:</strong>
    <%= @user.operation %>
  </div>

  <div class="form-gruop">
    <strong>備考欄:</strong>
    <%= @user.remarks %>
  </div>

  <hr class="devise-link my-5">
  <div class="form-group">
    <%= link_to '編集する', edit_user_registration_path, class: 'btn btn-success btn-block mb-4' %>
    <%= link_to '削除する', "/users/#{current_user.id}", method: :delete, data: { confirm: '本当に削除しても良いですか？'}, class: 'btn btn-danger btn-block mb-4' %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-warning btn-block mb-4' %>
  </div>
</div>