<header class="hf-both sticky-top">
  <nav class="navbar navbar-expand navbar-light">
    <div class="navbar-nav mr-auto">
      <%= link_to t('.application_title'), root_path, class: 'navbar-brand' %>
    </div>

    <% if user_signed_in? || pharmacy_signed_in? %>
      <div>
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.function') %>
          </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item">
                <%= link_to t('.search_medicine_notebook'), root_path, class: 'nav-link' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t('.search_pharmacy'), pharmacies_search_path, class: 'nav-link' %>
              </li>
              <% if user_signed_in? %>
                <li class="dropdown-item">
                  <%= link_to t('.family_configure'), root_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to t('.health_record'), conditions_index_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to t('.user_sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>
              <% end %>
              <% if pharmacy_signed_in? %>
                <li class="dropdown-item">
                  <%= link_to t('.chat_support'), root_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to t('.pharmacy_sign_out'), destroy_pharmacy_session_path, method: :delete, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.config') %>
          </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <% if user_signed_in? %>
                <li class="dropdown-item">
                  <%= link_to t('.user_account_edit'), edit_user_registration_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to t('.user_account_show'), users_show_path, class: 'nav-link' %>
                </li>
              <% end %>
              <% if pharmacy_signed_in? %>
                <li class="dropdown-item">
                  <%= link_to t('.pharmacy_account_edit'), edit_pharmacy_registration_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to t('.pharmacy_account_show'), pharmacies_show_path, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.other_function') %>
          </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item">
                <%= link_to t('.every_opinion'), opinions_path, class: 'nav-link' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t('.history'), histories_path, class: 'nav-link' %>
              </li>
            </ul>
        </div>  
      </div>
    <% else %>
      <div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.new_face') %>
          </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item">
                <%= link_to t('.user_sign_up'), new_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t('.pharmacy_sign_up'), new_pharmacy_registration_path, class: 'nav-link' %>
              </li>
            </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.all_sign_in') %>
          </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item">
                <%= link_to t('.user_sign_in'), new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t('.pharmacy_sign_in'), new_pharmacy_session_path, class: 'nav-link' %>
              </li>
            </ul>
        </div>            
      </div>
    <% end %>
  </nav>

  <nav class="navbar navbar-expand navbar-light">
    <% unless user_signed_in? || pharmacy_signed_in? %>
      <h2><%= t('.attention') %></h2>
    <% else %>
      <% if user_signed_in? %>
        <% if current_user.name.present? %>
          <h1><%= current_user.name + t('.sign_in_every_user') %></h1>
        <% else %>
          <h1><%= current_user.email+ t('.sign_in_every_user') %></h1>
        <% end %>
      <% end %>
      <% if pharmacy_signed_in? %>
        <% if current_pharmacy.name.present? %>
          <h1><%= current_pharmacy.name + t('.sign_in_every_user') %></h1>
        <% else %>
          <h1><%= current_pharmacy.email+ t('.sign_in_every_user') %></h1>
        <% end %>
      <% end %>
    <% end %>
  </nav>
</header>