<div class="container-login">
  <div class="jumbotron">
      <h1><%= t('.search_medicine_notebook') %></h1>
      <p><%= t('.search_explanation') %></p>
      <% unless user_signed_in? %>
        <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
      <% else %>
        <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
      <% end %>
  </div>

  <div class="jumbotron">
    <h1>a</h1>
    <p>b</p>
    <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
  </div>

  <div class="jumbotron">
    <h1><%= t('.not_yet') %></h1>
    <p><%= t('.not_yet') %></p>
    <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
  </div>
</div>