<div class="container-login">
  <div class="jumbotron">
      <h1><%= t('.search_medicine_notebook') %></h1>
      <p><%= t('.search_medicine_notebook_explanation') %></p>
      <% if user_signed_in? %>
        <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
      <% elsif pharmacy_signed_in? %>
        <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
      <% elsif %>
        <a class ="btn btn-primary btn-lg disabled" href="#" role="button"><%= t('.let_us_go') %></a>
      <% end %>
  </div>

  <div class="jumbotron">
    <h1><%= t('.search_pharmacy')%></h1>
    <p><%= t('.search_pharmacy_explanation')%></p>
    <% unless pharmacy_signed_in? %>
      <p><%= t('.inquire_pharmacy')%></p>
    <% end %>
    <% if user_signed_in? %>
      <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
    <% elsif pharmacy_signed_in? %>
      <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
    <% elsif %>
      <a class ="btn btn-primary btn-lg disabled" href="#" role="button"><%= t('.let_us_go') %></a>
    <% end %>
  </div>

  <% unless pharmacy_signed_in? %>
    <div class="jumbotron">
      <h1><%= t('.family_configure') %></h1>
      <p><%= t('.family_configure_explanation') %></p>
      <% if user_signed_in? %>
        <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
      <% else %>
        <a class ="btn btn-primary btn-lg disabled" href="#" role="button"><%= t('.let_us_go') %></a>
      <% end %>
    </div>

    <div class="jumbotron">
      <h1><%= t('.health_record') %></h1>
      <p><%= t('.health_record_explanation') %></p>
      <% if user_signed_in? %>
        <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
      <% else %>
        <a class ="btn btn-primary btn-lg disabled" href="#" role="button"><%= t('.let_us_go') %></a>
      <% end %>
    </div>
  <% end %>

  <%#= pharmacistモデル追加時に改修予定 %>
  <% if pharmacy_signed_in? %>
    <div class="jumbotron">
      <h1><%= t('.chat_support') %></h1>
      <p><%= t('.chat_support_explanation') %></p>
      <a class ="btn btn-primary btn-lg" href="#" role="button"><%= t('.let_us_go') %></a>
    </div>
  <% end %>
</div>