<div class="container-login">
  <%= render 'shared/flash_messages' %>
  <h2><%= t('activerecord.attributes.medicine_notebook_record.show_medicine_notebook_record') %></h2>

  <div class="form-gruop">
    <strong><%= t('activerecord.attributes.medicine_notebook_record.date_of_issue') %></strong> 
    <%= @recent_record.date_of_issue %>
  </div>

  <div class="form-gruop">
    <strong><%= t('activerecord.attributes.medicine_notebook_record.date_of_dispensing') %></strong> 
    <%= @recent_record.date_of_dispensing %>
  </div>

  <div class="form-gruop">
    <strong><%= t('activerecord.attributes.medicine_notebook_record.user_name_colon') %></strong> 
    <%= @user.name %>
  </div>

  <div class="form-gruop">
    <strong><%= t('activerecord.attributes.medicine_notebook_record.medical_institution') %></strong> 
    <%= @recent_record.medical_institution %>
  </div>

  <div class="form-gruop">
    <strong><%= t('activerecord.attributes.medicine_notebook_record.doctor_name') %></strong> 
    <%= @recent_record.doctor_name %>
    <%= t('activerecord.attributes.medicine_notebook_record.honor') %>
  </div>

  <div class="form-gruop">
    <strong><%= t('activerecord.attributes.drug_information.drug_name') %></strong>/<strong><%= t('activerecord.attributes.drug_information.daily_dose') %></strong> 
    <%= @recent_record.drug_informations.last.drug_name_i18n %>
    <%= @recent_record.drug_informations.last.daily_dose %>
    <%= t('activerecord.attributes.drug_information.tablet_unit') %>
  </div>

  <div class="form-gruop">
    <strong><%= t('activerecord.attributes.how_to_take.number_of_doses') %></strong> 
    <%= @recent_record.drug_informations.last.how_to_takes.last.number_of_doses %>
    <%= t('activerecord.attributes.drug_information.tablet_unit') %>
    <%= @recent_record.drug_informations.last.how_to_takes.last.when_to_take_i18n %>
    <strong><%= t('activerecord.attributes.drug_information.prescription_days') %></strong> 
    <%= @recent_record.drug_informations.last.prescription_days %>
    <%= t('activerecord.attributes.drug_information.day') %>
  </div>

  <div class="form-gruop">
    <strong><%= t('activerecord.attributes.pharmacy.pharmacy_name') %></strong> 
    <%= @recent_record.pharmacy.name %>
  </div>

  <div class="form-gruop">
    <strong><%= t('activerecord.attributes.pharmacy.pharmacy_address') %></strong> 
    <%= @recent_record.pharmacy.prefecture_code %>
    <%= @recent_record.pharmacy.address_city %>
    <%= @recent_record.pharmacy.address_street %>
    <% if @recent_record.pharmacy.address_building.present? %>
      <%= @recent_record.pharmacy.address_building %>
    <% end %>
  </div>

  <div class="form-gruop">
    <strong><%= t('activerecord.attributes.pharmacy.pharmacy_telephone_number') %></strong> 
    <%= @recent_record.pharmacy.normal_telephone_number %>
  </div>

  <hr class="devise-link my-5">
  <%= link_to t('activerecord.attributes.medicine_notebook_record.new_page'), medicine_notebook_new_path, class: 'btn btn-success btn-block mb-4' %>
  <%#= link_to t('activerecord.attributes.medicine_notebook_record.new_page'), medicine_notebook_new_path(params[:id]), class: 'btn btn-success btn-block mb-4' %>  
  <%= link_to t('activerecord.attributes.user.top_page'), root_path, class: 'btn btn-info btn-block mb-4' %>
</div>